<h2>FAQ</h2>

<article>
	<h3>Général</h3>
		<div class="ensemble">
			<p>Qu’est ce que BeCoach ?</p>
			<p>Comme son nom l’indique, BeCoach est une application qui vous permet de devenir votre propre coach. En fonction de l’objectif que vous vous serez fixé, l’application vous accompagnera en vous incitant à réaliser des étapes jusqu'à atteindre votre <br>
			Vous pouvez également devenir le coach des autres ! En effet, l’application vous permet de soumettre votre programme de coaching et de le partager avec toute la communauté BeCoach.</p>
		</div>
		<div class="ensemble">
			<p>Avec quels supports puis-je l’utiliser ?</p>
			<p>Vous pouvez l’utiliser en ligne à l’aide d’un navigateur web, d’un Smartphone ou d’une tablette.</p>
		</div>
		<div class="ensemble">
			<p>L’application est-elle payante ?</p>
			<p> BeCoach est totalement gratuit !</p>
		</div>
</article>

<article>
<h3>Installation</h3>
	<div class="ensemble">
		<p>Configuration nécessaire à voir à la fin.</p>
		<p></p>
	</div>
</article>

<article>
<h3>Compte</h3>
	<div class="ensemble">
		<p>Comment me déconnecter ?</p>
		<p>Rendez vous dans la partie consacrée à votre profil, et sélectionnez l’icône de déconnexion.</p>
	</div>
	<div class="ensemble">
		<p>Comment retrouver mon mot de passe en cas de perte ?</p>
		<p>Sur l’écran d’identification, selectionnez « mot de passe oublié », et entrez votre adresse mail, un nouveau mot de passe vous sera alors envoyé. Si vous ne le recevez pas, pensez à verifier vos spams. Si vous ne recevez toujours pas de mail, contactez l’administrateur.</p>
	</div>
</article>

<article>
	<h3>UTILISATION DE L’APPLICATION</h3>
	<div class="ensemble">
		<p>Comment utiliser le programme de coaching de BeCoach ?</p>
		<p>Tout d’abord, sélectionnez le challenge que vous souhaitez relever. Après quoi l’application vous proposera une première étape à la réalisation de ce challenge. Tant que vous ne l’aurez pas terminée, votre étape sera sauvegardée dans vos étapes en cours. Une fois l’étape terminée, validez-la et passez à la suivante. Lorsque vous aurez terminée chacune des étapes, votre challenge sera considéré comme accompli, et sauvegardé sur votre profil.</p>
	</div>
	<div class="ensemble">
		<p>Comment ajouter de nouveaux challenges ? </p>
		<p>Pour ajouter de nouveaux challenges, selectionnez « Proposer un challenge » dans le menu des challenges. Entrez ensuite le nom de votre challenge et ses differentes steps ( il vous en faut au moins 5).</p>
	</div>
	<div class="ensemble">
		<p>Est-il possible de jouer hors ligne ?</p>
		<p>à voir</p>
	</div>
</article>

<article>
	<h3>QUESTIONS DU MOMENT</h3>
	<div class="ensemble">
		<p>(a mettre a jour au fur et a mesure)</p>
		<p></p>
	</div>
</article>

<article>
	<h3>Contact</h3>
	<div class="ensemble">
		<p>Comment puis-je vous contacter ?</p>
		<p>Dans le menu des options, sélectionnez « contacter l’assistance ». Veuillez vous assurer que votre question ne figure pas dans la FAQ avant de nous adresser votre requête.</p>
	</div>
</article>