<% fb_connect_logo = image_tag "fb_connect.png" %>
<%= link_to fb_connect_logo, auth_at_provider_path(:provider => :facebook) %>

<p id="notice"><%= notice %></p>

<a href="/challenges">Challenges</a><br>
<a href="/steps">Steps</a>