<p id="notice"><%= notice %></p>

<% if current_user %>
	<%= link_to('Challenges', challenges_path) %>
<% else %>
	<h1>Connexion</h1>
	<%= link_to auth_at_provider_path(:provider => :facebook) %>
<% end %>
