<% if !current_user %>
	<%= link_to "Connexion", auth_at_provider_path(:provider => :facebook) %>
<% else %>
	<% redirect_to challenge_path %>
<% end %>


<h2>Devenez votre propre coach !</h2>
<p id="mascotte">
	<img src="assets/pandacoach.png">
</p>

<div id="presentation">
	<p>BeCoach est une application qui vous permet </br>
	d'accéder à une liste de challenges à réaliser parmi </br> un grand nombre de thèmes différents. </p>
	<p id="orange">Accomplissez des défis, essayez vous à de nouveaux </br> hobbies et partagez vos succès sur Facebook pour </br> impressionner vos amis. </p>
	<p>BeCoach, une application simple et efficace pour </br>
	améliorer votre vie.</p>
</div>