<div class="content">
	<div id="main">
		<h2>Devenez votre propre coach !</h2>
		<p id="mascotte">
			<img src="assets/pandacoach.png">
		</p>

		<div id="presentation">
			<% if current_user %>
			  <p id="orange">Vous êtes connecté.</p><br>
			<% end %>
			<p>BeCoach est une application qui vous permet </br>
			d'accéder à une liste de challenges à réaliser parmi </br> un grand nombre de thèmes différents. </p>
			<p id="orange">Accomplissez des défis, essayez vous à de nouveaux </br> hobbies et partagez vos succès sur Facebook pour </br> impressionner vos amis. </p>
			<p>BeCoach, une application simple et efficace pour </br>
			améliorer votre vie.</p>
		</div>
	
	</div>
