<% if !current_user %>
  <%= link_to "Connexion", auth_at_provider_path(:provider => :facebook) %>
<% else %>
<ul>
  <% @challenges.each do |challenge| %>
	<li>
		<span class="name"><%= link_to challenge.name, challenge %></span>
		<span class="progress">42</span>
	</li>
  <% end %>
</ul>
<% end %>