<% if !current_user %>
  <%= link_to "Connexion", auth_at_provider_path(:provider => :facebook) %>
<% else %>
<ul id="all">
  <% @challenges.each do |challenge| %>
    <li><%= link_to challenge.name, challenge %></li>
  <% end %>

 	<li >
 		<ul>
 			<a href="#"><li class="challenge forme"><span class="progress">42</span><span class="nameCha">Be a jogger</span></li></a>
 		</ul>
		<ul class="listSteps">
			<li class="done forme">Step 1 : Courir un peu</li>
			<li class="done forme">Step 2 : Courir plus</li>
			<li class="todo forme">Step 3 : Courir durée</li>
			<li class="todo forme">Step 4 : Courir test</li>
		</ul>
 	</li>
</ul>
<% end %>