<% if !current_user %>
  <%= link_to "Connexion", auth_at_provider_path(:provider => :facebook) %>
<% else %>
<ul id="all">
  <% @challenges.each do |challenge| %>
	<li>
		<ul>
			<li class="forme challenge"><span class="progress">42</span><span class="nameCha"><%= link_to challenge.name, challenge %></span></li>
		</ul>
	</li>
  <% end %>
</ul>
<% end %>