<%= link_to 'Accueil', challenges_path %>
<ul id="all">
	 <li >
 		<ul>
 			<a href="#"><li class="challenge forme"><span class="progress">42</span><span class="nameCha"><%= @challenge.name %></span></li></a>
 		</ul>
		<ul class="listSteps">
				<% @challenge.steps.each do |step| %>
					<li class="done forme"><%= link_to step.name, do_step_path(step) %></li>
				<% end %>
		</ul>
 	</li>
</ul>