/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* @import url(http://fonts.googleapis.com/css?family=Montserrat); */

body {
	background: #383838;
	margin: 0px;
	width: 100%;
	font-family: 'Montserrat';
}
/* Header properties */
header h1 {
	color: #fff;
	margin: 30px;
	font-size: 50px;
	text-align: center;
}

nav ul {
	width: 95%;
	height: 50px;
	margin-bottom: 0px;
	text-align: center;
}

nav ul li {
	list-style: none;
	display: inline-block;
}

nav ul li a:visited {
	color: #fff;
}
.onglet {
	width: 250px;
	height: 42px;
	text-align: center;
	background: #2aa48e;
	display: inline-block;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin: 0px 2px 0px 2px;
	font-size: 28px;
	color: #fff;
	padding-top: 8px;
}
.active {
	background: #ef784a;
}
.onglet:hover {
	background-color: transparent;
}
.onglet a {
	color: #fff;
}

a {
	text-decoration: none;
}

/* Container */
#main {
	background: #fff;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 50px;
}
#container {
	width: 960px;
	margin: auto;
	padding-bottom: 30px;
}

/* Footer Properties */ 
footer p {
	margin-top: 25px;
	font-size: 13px;
	text-align: center;
	width: 100%;
	color: #fff;
}

#social {
	float: right;
	margin-right: 15%;
	margin-top: -50px;
}

#social img {
	height: 40%;
	width: 40%;
}

/* Media Quesries */
@media (max-width: 640px) {
	#container {
		width: 320px;
		overflow: hidden;
	}

	#social {
		float: none;
		margin: 0px;
		text-align: center;
	}
	#social img {
		height: 20%;
		width: 20%;
	}


}