.challenges 

  &.index


  .forme
    width: 640px
    height: 70px
    margin-bottom: 3px
    font-size: 18px
    line-height: 70px

  .challenge
    color: #fff
    font-size: 35px
    line-height: 30px
    position: relative
    color: #383838
    img
      vertical-align: middle
      margin-right: 20px

  h2
    font-size: 20px

  .done
    background-color: #2aa48e
    color: #fff
    &:before
      content: ""
      height: 70px
      width: 45px
      background-image: url(icon_done.png)
      background-repeat: no-repeat
      background-position: center
      position: relative
      margin: 0px 30px
      float: left
    a
      color: #fff

  .todo
    background-color: #fff
    border-bottom: 2px solid #383838
    &:before
      content: ""
      height: 70px
      width: 45px
      background-image: url(icon_todo.png)
      background-repeat: no-repeat
      background-position: center
      position: relative
      margin: 0px 30px
      float: left
    a
      color: #383838

  .progress
    margin-right: 50px
    margin-left: 50px
    top: 2px
    font-size: 55px
    display: none

  @-moz-document url-prefix()
    .progress
      top: 2px
      &:after
        vertical-align: super


  .progress:after
    content: "%"
    font-size: 15px
    vertical-align: super

  .nameCha:before
    content: url(icon_current.png)
    margin-right: 30px
    display: inline-block
    vertical-align: -30%

  .list-challenge:after
    content: url(icon_deroule.png)
    float: right
    margin-right: 15px
