.challenges 

  &.index
    h1
      font-size: 30px
      margin-left: 20px
      margin-bottom: 15px
      span
        float: right
        margin-right: 50px
    ul
      li
        font-size: 30px
        border-bottom: 1px solid #2aa48e
        position: relative
        .texts 
          position: relative
          z-index: 100
          .score-image
            float: right
            img
              margin-left: 25px
              margin-right: 10px
              vertical-align: middle
        .progress, .background
          z-index: 1
          position: absolute
          background-color: #2aa48e
          top: 0
          left: 0
          right: 0
          bottom: 0
        .progress
          background-color: #168786
      .started
        color: #fff
        a 
          color: #fff
      .score
        font-size: 30px
        &:after
          content: " pts"
          vertical-align: baseline
          font-size: 15px





  &.show
    header
      position: relative
      h1
        margin-left: 30px
        font-size: 35px
        color: #383838
      .back
        position: absolute
        top: 10px
      p
        margin-left: 30px
    ul li
      background-color: #fff
      background-image: url(icon-decoche.png)
      background-repeat: no-repeat
      background-position: 5px 5px
      .name
        margin-left: 60px
      a
        color: #383838
      &.done
        background-color: #2aa48e
        color: #fff
        background-image: url(icon_done.png)
        a
          color: #fff
      .count
        float: right
        font-size: 30px
        &:before
          content: "x "
          vertical-align: baseline
          font-size: 15px
    .progress
      font-size: 50px
      &:after
        content: "%"
        font-size: 15px
        vertical-align: super

    @-moz-document url-prefix()
      .progress
        top: 2px
        &:after
          vertical-align: super
