// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	text-align: center;
	font-size: 43px;
	padding: 30px;

}

div#main {
	background: #fff;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 50px;
}

div#presentation {
	margin-left: 45%;
	margin-bottom: 50px;
	margin-top: 20px;
}
	
a {
	text-decoration: none;
	color: #000;
}

p#mascotte img {
	width: 250px;
	height: 300px;
	float: left;
	margin-left: 25%;
}


p#orange {
	color: #ef784a;
}