<h1>Profile#myprofile</h1>
<p>Find me in app/views/profile/myprofile.html.erb</p>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recupLink %>
  <% for step in @step_list %>
  	
  <% end %>
</p>

